@import "reset.scss";
body {
    background-color: #292B38;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.main {
    width: 100%;
    min-height: 95vh;
    padding: 2em 0;
    display: flex;
    flex-direction: row;
    &__logo {
        display: flex;
        justify-content: center;
        min-width: 10vw;
    }
    &__img {
        max-width: 8em;
    }
    &__form {
        margin-top: 4em;
        min-height: 60vh;
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__textarea {
        width: 100%;
        min-height: 60vh;
        color: #FFFFFF;
        font-size: 1.75em;
        resize: none;
        height: 100%;
        &::placeholder {
            color: #FFFFFF;
        }
        &:focus {
            outline: none;
        }
    }
    &__footer {
        display: flex;
        flex-direction: column;
    }
    &__small {
        width: 100%;
        margin-bottom: 0.5em;
        small {
            padding-left: 1.5em;
            position: relative;
            display: flex;
            align-items: center;
            &::before {
                content: '';
                background-image: url("img/icon.svg");
                width: 1em;
                height: 1em;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                display: block;
                position: absolute;
                left: 0;
                filter: invert(1) brightness(2);
            }
        }
    }
    &__buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    &__button {
        border-radius: 0.5em;
        padding: 1em;
        font-weight: 600;
        font-family: 1.5em;
        width: 100%;
        cursor: pointer;
        &-primary {
            background-color: #4EA1FA;
            color: #FFFFFF;
            transition: background 250ms;
            margin-right: 0.75em;
            &:hover {
                background: #007bff;
            }
        }
        &-secondary {
            background-color: #1D1E23;
            border: 0.15em solid #1D1E23;
            color: #4EA1FA;
            transition: background 250ms, border 250ms;
            margin-left: 0.75em;
            &:hover {
                border-color: #4EA1FA;
            }
        }
    }
}
.aside {
    width: 30vw;
    min-height: 60vh;
    max-height: calc(90vh - 2em);
    padding: 0 3em;
    &__content {
        background-color: #4EA1FA;
        box-shadow: 0em 0em 2em 0em rgba(0,0,0,0.38);
        -webkit-box-shadow: 0em 0em 2em 0em rgba(0,0,0,0.38);
        -moz-box-shadow: 0em 0em 2em 0em rgba(0,0,0,0.38);
        height: 100%;
        width: 100%;
        border-radius: 1.5em;
        padding: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &--between {
            justify-content: space-between;
        }
        &--none {
            display: none;
        }
    }
    &__message {
        overflow-y: auto;
        width: 100%;
        height: 100%;
    }
    &__text {
        margin-top: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__h2 {
        font-size: 2em;
        text-align: center;
        line-height: 1em;
        font-weight: 600;
    }
    &__p {
        margin-top: .5em;
        width: 75%;
        text-align: center;
    }
    &__encrypt {
        font-size: 1.75em;
        text-align: center;
        line-height: 1em;
        max-height: 94vh;
        word-break: break-all;
    }
    &__button {
        border-radius: 0.5em;
        margin-top: 1em;
        padding: 1em;
        min-height: 6vh;
        font-weight: 600;
        font-family: 1.5em;
        width: 100%;
        cursor: pointer;
        background-color: #1D1E23;
        border: 0.15em solid #1D1E23;
        color: #4EA1FA;
        transition: opacity 250ms;
        margin-left: 0.75em;
        &:hover {
            opacity: .8;
        }
    }
}
footer {
    width: 100%;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    h3 {
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        svg {
            font-size: 1em;
            width: 1em;
            height: 1em;
            &:nth-child(1) {
                margin-right: .4em;
            }
            &:nth-child(2) {
                margin: 0 .4em;
            }
        }
        a {
            margin-left: .4em;
            text-decoration: underline;
        }
    }
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    &__container {
        width: 35vw;
        background-color: #4EA1FA;
        height: 50vh;
        border-radius: 2em;
        padding: 2em;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    &__header {
        width: 100%;
        text-align: center;
    }
    &__title {
        font-size: 2em;
    }
    &__body {
        text-align: center;
    }
    &__p {
        font-size: 1.5em;
    }
    &__footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__button {
        border-radius: 0.5em;
        margin-top: 1em;
        padding: 1em;
        min-height: 6vh;
        font-weight: 600;
        font-family: 1.5em;
        width: 100%;
        cursor: pointer;
        background-color: #1D1E23;
        border: 0.15em solid #1D1E23;
        color: #4EA1FA;
        transition: opacity 250ms;
        margin-left: 0.75em;
        &:hover {
            opacity: .8;
        }
    }
}
@media screen and (max-width: 1200px){
    .main {
        width: 100%;
        &__logo {
            min-width: 7.5em;
        }
    }
    .aside {
        width: 45vw;
    }
}
@media screen and (max-width: 1023px){
    body {
        flex-direction: column;
    }
    .main {
        width: 100%;
        flex-direction: column;
        &__logo {
            min-width: 7.5em;
            justify-content: flex-start;
        }
        &__form {
            width: 100%;
            padding: 2em;
        }
        &__textarea {
            font-size: 1.5em;
        }
    }
    .aside {
        width: 100%;
        min-height: auto;
        padding: 2em;
        &__content {
            padding-top: 2em;
            padding-bottom: 2em;
        }
        &__img {
            display: none;
        }
        &__text {
            margin: 0;
        }
        &__h2 {
            font-size: 1em;
        }
        &__p {
            font-size: 0.9em;
        }
        &__encrypt {
            font-size: 1.5em;
        }
        &__message {
            max-height: 30vh;
            min-height: 5vh;
        }
    }
    .modal {
        &__container {
            width: 75vw;
        }
    }
}
@media screen and (max-width: 767px){
    .main {
        &__buttons {
            flex-direction: column;
        }
        &__button {
            margin: 0;
            margin-top: 1em;
        }
        &__textarea {
            font-size: 1.25em;
        }
    }
    .aside {
        &__encrypt {
            font-size: 1.25em;
        }
    }
    .modal {
        &__container {
            width: 90vw;
        }
    }
}

::-webkit-scrollbar {
    width: 0.25em;
}

::-webkit-scrollbar-track {
    background: rgba(255,255,255,.5);
    border-radius: 1em;
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.5);
    border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,.75);
}

button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
&:after {
    content: "";
    background: rgba(0, 157, 255, 0.5);
    display: block;
    position: absolute;
    opacity: 0;
    width: 10em;
    height: 10em;
    border-radius: 100%;
    padding: 0;
    margin: 0;
    transition: all 1s;
    transform: scale(5);
    aspect-ratio: 1/1;
  }
  
  &:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
    transform: scale(0);
  }
  
  &:focus { outline:0; }
  
}